*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font: normal 100% Helvetica, Arial,sans-serif;
}
#header{
    background-color: #000;
    width: 100%;
    padding: 8rem 0;
}
#header-inner{
    width:100%;
    /*height:100%;*/
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(102, 126, 234, 1)), to(rgba(118, 75, 162, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    font-size: 2rem;
    /*line-height: 400px;*/
    text-align: center;
}
#main{
    width:100%;
    height:auto;
    background: #fff;
    position: relative;
}
#main-top{
    width: 120px;
    height:auto;
    margin: 0 auto;
    position: relative;
    padding-top: 70px;
    text-align: center;
}
#photo{
    width: 120px;
    height:120px;
    border-radius: 50%;
    position: absolute;
    display: block;
    top:-60px;
    left: 50%;
    margin-left: -60px;
}
#name{
    font-weight: normal;
}
#zhuanye{
    font-size: .9rem;
    color: #868686;
    height:30px;
    line-height: 30px;
}
.main-item{
    width: 100%;
    height:auto;
    padding-bottom: 70px;
    position: relative;
}
.item-top{
    height:100px;
    text-align: center;
    line-height: 100px;
    font-size:1.5rem;
    position: relative;
}
.item-top-left{
    display: block;
    height:1px;
    width: 5rem;
    position: absolute;
    background: #000;
    top:50px;
    left:310px;
}
.item-top-right{
    display: block;
    height:1px;
    width: 5rem;
    position: absolute;
    background: #000;
    top:50px;
    right:310px;
}
.item-main{
    width: 100%;
    height:auto;
    display: flex;
}

.item-t image{
    width: 50px;
    height:50px;
    display: block;
    margin: 0 auto;

}
.t-title{
    font-size: 18px;
    height:40px;
    line-height: 40px;

}
.t-content{
    font-size: 14px;
    color: #737373;
    height:26px;
    line-height: 26px;
}
#main-center{
    width: 100%;
    height:auto;
    background: #fafafa;
    padding: 4rem 3rem;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 #e8e8e8;
}
#main-center h2{
    height:60px;
    line-height: 60px;
    text-align: center;
    font-weight: normal;
}
#main-center p{
    font-size: 1rem;
    color: #4e4e4e;
    line-height: 26px;
    font-family: '微软雅黑 Light';
}

.item-three{
    display: flex;
    width: 80%;
    position: relative;
    border-left: 1px dashed #888888;
    margin: 0 auto;
    font-family: '微软雅黑 Light';
    padding-bottom: 30px;
}
.item-three>span{
    display: block;
    position: absolute;
    top:0;
    left:-10px;
    width: 20px;
    height:20px;
    background: #f75c38;
    border-radius: 50%;
}
.item-three-left{
    width: 70%;
    padding-left: 40px;
    box-sizing: border-box;
    font-family: '微软雅黑';
}
.item-three-left span{
    color: #484848;
    font-size: 14px;
}
.item-three-right{
    width: 30%;
    overflow: hidden;
}
.item-three-right p:nth-of-type(2){
    margin-top: 10px;
    font-size: 14px;
    color: #8e8e8e;
    line-height: 22px;
}
.item-f{
    width: 75%;
    margin: 0 auto;
}
.item-f-title{
    font-size: 22px;
    font-family: '微软雅黑';
    color: #2b908d;
    text-align: center;
    height:80px;
    line-height: 80px;
}
.item-f-pic{
    width: 100%;
}
@media screen and (max-width:1000px){
    .item-t{
        width: 80%;
        text-align: center;
        overflow: hidden;
        margin: 0 auto 20px auto;
    }
    .item-t .item-le{
        float: left;
        width: 50%;
        text-align: center;
        padding-top: 20px;
    }
    .item-t .item-ri{
        float: left;
        width: 50%;
        text-align: left;
    }
    #phone{
        display: block;
        background:url("../static/icon1.png") no-repeat left center ;
        background-size: 28px 28px;
        padding-left: 30px;
    }
    #mail{
        display: block;
        background:url("../static/icon2.png") no-repeat left center ;
        background-size: 24px 24px;
        padding-left: 30px;
        margin-top:20px;
    }
    .item-two{
        width: 100%;
        height:3rem;
        /*background: red;*/
        position: relative;
        overflow: hidden;
        line-height: 3rem;
        display: flex;
        margin: 0 auto;
    }
    .item-txt{
        width: 30%;
        text-align: center;
        font-size: 1rem;
        font-family: '微软雅黑 Light';
    }
    .item-line{
        width: 60%;
        background: rgba(180,180,180,0.5);
        height:16px;
        border-top-left-radius:8px 8px;
        border-top-right-radius:8px 8px;
        border-bottom-left-radius:8px 8px;
        border-bottom-right-radius:8px 8px;
        line-height: 16px;
        margin-top: 17px;
        font-size: 12px;
        position: relative;
        /*overflow: hidden;*/
    }
    .item-line span{
        display: block;
        position: absolute;
        left:0;
        top:0;
        height:100%;
    }
    .item-line span:nth-of-type(1){
        border-top-left-radius:8px 8px;
        border-top-right-radius:8px 8px;
        border-bottom-left-radius:8px 8px;
        border-bottom-right-radius:8px 8px;
    }
    .item-line span:nth-of-type(2){
        color: white;
    }

}
@media screen and (min-width:1000px){
    .item-t{
        width: 33%;
        text-align: center;
    }
    #phone{
        display: inline-block;
        background:url("../static/icon1.png") no-repeat left center ;
        background-size: 28px 28px;
        padding-left: 30px;
    }
    #mail{
        display: inline-block;
        background:url("../static/icon2.png") no-repeat left center ;
        background-size: 24px 24px;
        padding-left: 30px;
        margin-left: 50px;
    }
    .item-two{
        width: 80%;
        height:50px;
        /*background: red;*/
        position: relative;
        overflow: hidden;
        line-height: 50px;
        display: flex;
        margin: 0 auto;
    }
    .item-txt{
        width: 20%;
        text-align: center;
        font-size: 14px;
        font-family: '微软雅黑 Light';
    }
    .item-line{
        width: 70%;
        background: rgba(180,180,180,0.5);
        height:16px;
        border-top-left-radius:8px 8px;
        border-top-right-radius:8px 8px;
        border-bottom-left-radius:8px 8px;
        border-bottom-right-radius:8px 8px;
        line-height: 16px;
        margin-top: 17px;
        font-size: 12px;
        position: relative;
        /*overflow: hidden;*/
    }
    .item-line span{
        display: block;
        position: absolute;
        left:0;
        top:0;
        height:100%;
    }
    .item-line span:nth-of-type(1){
        border-top-left-radius:8px 8px;
        border-top-right-radius:8px 8px;
        border-bottom-left-radius:8px 8px;
        border-bottom-right-radius:8px 8px;
    }
    .item-line span:nth-of-type(2){
        color: white;
    }
}
.item-f-pic img{
    width: 100%;
    height:auto;
}

#footer{
    width: 100%;
    height: 300px;
    background: #f4f4f4;
    text-align: center;
    font-family: '微软雅黑';
    padding-bottom: 3rem;
}
#phone{
    display: inline-block;
    background:url("../static/icon1.png") no-repeat left center ;
    background-size: 28px 28px;
    padding-left: 30px;
}
#mail{
    display: inline-block;
    background:url("../static/icon2.png") no-repeat left center ;
    background-size: 24px 24px;
    padding-left: 30px;
    margin-left: 50px;
}


















